body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

header{
    height:5em;
    width:100vw;
    max-width: 1000px;
    display: grid;
    gap: 1em;
    grid-template-columns: 100px 0.9fr 0.9fr;
    align-items: center;
    margin: 10 auto 0 auto;
    background-color: #1F2937;
}

header button {
    height:3em;
    margin: 0px 1em;
    font-size: 1em;
    background-color: #3D4B60;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

header select {
    height:3em;
    font-size: 1em;
    background-color: #1F2937;
    color: #D5D4D8;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
}

header input {
    width: 80px;
    height:3.7em;
    margin: 0px 1em;
    border-radius: 5px;
}

.palette {
    width:100vw;
    max-width: 1000px;
    margin: 0 auto;
    height: 80vw;
    max-height:50em;
    min-height:30em;
    background-color: black;
}

.palette{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.footer-container{
    height:3em;
    width:100vw;
    max-width: 1000px;
    color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    background-color: #1F2937;
    margin: 0 auto;
}

.footer{
    text-align: center;
    text-transform: uppercase;
}

